# Ignore VS Code config
.vscode/

# Binaries
*.exe
*.out
*.test

# OS files
.DS_Store
Thumbs.db

# Vendor (kalau nggak dipush)
vendor/
main
firebase.json
build-errors.log
.env

# Dependency files (kalau kamu rebuild dari go mod aja)
go.sum
